@import url(reset.css);
/* line 2, ../sass/ie.scss */
.no-boxshadow .form-search input[type="text"], .no-boxshadow .form-search input[type="search"] {
  line-height: 2.533;
}
/* line 5, ../sass/ie.scss */
.no-boxshadow .placeholder {
  color: #c1c1c1;
}

/* line 5, ../sass/screen.scss */
html {
  height: 100%;
  width: 100%;
  background: #f3f3f3;
}

/* line 11, ../sass/screen.scss */
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 87.5%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

/* line 20, ../sass/screen.scss */
.wrapper {
  background: #fff;
  position: relative;
  width: 1080px;
  min-height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  padding-bottom: 140px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../sass/screen.scss */
#header {
  width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  border-bottom: 1px solid #eff0f1;
}
/* line 7, ../sass/_base.scss */
#header:after {
  content: "";
  display: block;
  clear: both;
}

/* line 36, ../sass/screen.scss */
.top-banner {
  margin-bottom: 15px;
}

/* line 40, ../sass/screen.scss */
.bottom-header {
  position: relative;
  padding-bottom: 35px;
}
/* line 7, ../sass/_base.scss */
.bottom-header:after {
  content: "";
  display: block;
  clear: both;
}

/* line 46, ../sass/screen.scss */
.lang {
  position: absolute;
  left: 0;
  top: -4px;
  margin-left: 4px;
}
/* line 51, ../sass/screen.scss */
.lang a {
  font-size: 0.786em;
  color: #5e6971;
  text-decoration: none;
}
/* line 55, ../sass/screen.scss */
.lang a.active {
  text-decoration: underline;
}

/* line 61, ../sass/screen.scss */
.logo {
  float: left;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.jpg?1381932931');
  background-repeat: no-repeat;
  background-position: 0 1px;
  width: 212px;
  height: 47px;
  margin-right: 39px;
  display: block;
  margin-top: 19px;
}

/* line 69, ../sass/screen.scss */
.form-search {
  position: relative;
  float: left;
  min-width: 575px;
  padding-top: 22px;
}
/* line 74, ../sass/screen.scss */
.form-search a {
  float: left;
  font-size: 1.071em;
  color: #5e6971;
  text-decoration: none;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed #5e6971;
  margin-right: 16px;
  padding-top: 9px;
}
/* line 86, ../sass/screen.scss */
.form-search input[type="text"], .form-search input[type="search"] {
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #5e6971;
  padding: 0 0 0 15px;
  width: 469px;
  display: block;
  float: left;
  color: #5e6971;
  font-size: 1.071em;
  font-style: italic;
}
/* line 98, ../sass/screen.scss */
.form-search input[type="submit"] {
  height: 40px;
  position: relative;
  border-radius: 0 1px 1px 0;
  background: url('../img/icons-s2b742e91d5.png') 0 0 #5e6971;
  height: 40px;
  width: 42px;
  background-position: 0 -307px;
  height: 40px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  border: none;
  float: left;
  cursor: pointer;
  padding: 0;
}

/* line 115, ../sass/screen.scss */
.login-helper {
  float: right;
}
/* line 7, ../sass/_base.scss */
.login-helper:after {
  content: "";
  display: block;
  clear: both;
}
/* line 119, ../sass/screen.scss */
.login-helper .vk {
  background-image: url('../img/icons-s2b742e91d5.png');
  height: 30px;
  width: 30px;
  background-position: 0 -277px;
  display: block;
  float: left;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  margin-left: 3px;
  cursor: pointer;
}
/* line 119, ../sass/screen.scss */
.login-helper .odk {
  background-image: url('../img/icons-s2b742e91d5.png');
  height: 30px;
  width: 30px;
  background-position: 0 -187px;
  display: block;
  float: left;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  margin-left: 3px;
  cursor: pointer;
}
/* line 119, ../sass/screen.scss */
.login-helper .facebook {
  background-image: url('../img/icons-s2b742e91d5.png');
  height: 30px;
  width: 30px;
  background-position: 0 -217px;
  display: block;
  float: left;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  margin-left: 3px;
  cursor: pointer;
}
/* line 119, ../sass/screen.scss */
.login-helper .twitter {
  background-image: url('../img/icons-s2b742e91d5.png');
  height: 30px;
  width: 30px;
  background-position: 0 -247px;
  display: block;
  float: left;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  margin-left: 3px;
  cursor: pointer;
}
/* line 130, ../sass/screen.scss */
.login-helper p {
  font-size: 0.786em;
  line-height: 1;
  color: #5e6971;
  margin-bottom: 16px;
}

/* line 138, ../sass/screen.scss */
.inner-main {
  width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 32px;
}
/* line 7, ../sass/_base.scss */
.inner-main:after {
  content: "";
  display: block;
  clear: both;
}
/* line 7, ../sass/_base.scss */
.inner-main:after {
  content: "";
  display: block;
  clear: both;
}

/* line 7, ../sass/_base.scss */
section:after {
  content: "";
  display: block;
  clear: both;
}
/* line 146, ../sass/screen.scss */
section > header {
  margin-bottom: 17px;
}

/* line 152, ../sass/screen.scss */
.main {
  float: left;
  width: 810px;
}
/* line 7, ../sass/_base.scss */
.main:after {
  content: "";
  display: block;
  clear: both;
}

/* line 158, ../sass/screen.scss */
.left-menu {
  float: left;
  width: 190px;
}
/* line 161, ../sass/screen.scss */
.left-menu a {
  color: #000;
  font-size: 0.929em;
  line-height: 1;
  display: inline-block;
  padding: 3px 4px 6px;
  text-decoration: none;
  position: relative;
}
/* line 169, ../sass/screen.scss */
.left-menu a:hover {
  background-color: #f2f2f2;
  color: #0f5fff;
}
/* line 175, ../sass/screen.scss */
.left-menu > ul > li {
  padding-left: 20px;
  margin-top: 14px;
}
/* line 178, ../sass/screen.scss */
.left-menu > ul > li:first-child {
  margin-top: 0;
}
/* line 180, ../sass/screen.scss */
.left-menu > ul > li:first-child a:before {
  top: 3px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-0 a:before {
  background-position: 0px 0px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-1 a:before {
  background-position: 0px -18px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-2 a:before {
  background-position: 0px -36px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-3 a:before {
  background-position: 0px -54px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-4 a:before {
  background-position: 0px -72px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-5 a:before {
  background-position: 0px -90px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-6 a:before {
  background-position: 0px -108px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-7 a:before {
  background-position: 0px -126px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-8 a:before {
  background-position: 0px -144px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-9 a:before {
  background-position: 0px -162px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-10 a:before {
  background-position: 0px -180px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-11 a:before {
  background-position: 0px -198px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-12 a:before {
  background-position: 0px -216px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-13 a:before {
  background-position: 0px -234px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-14 a:before {
  background-position: 0px -252px;
}
/* line 186, ../sass/screen.scss */
.left-menu > ul > li.menu-15 a:before {
  background-position: 0px -270px;
}
/* line 192, ../sass/screen.scss */
.left-menu > ul > li > a:before {
  content: "";
  display: block;
  height: 18px;
  width: 16px;
  position: absolute;
  left: -20px;
  top: 1px;
  background-image: url(../img/icons-menu.png);
  background-repeat: no-repeat;
}
/* line 205, ../sass/screen.scss */
.left-menu > ul ul {
  display: none;
}
/* line 207, ../sass/screen.scss */
.left-menu > ul ul li {
  margin-top: 2px;
}
/* line 210, ../sass/screen.scss */
.left-menu > ul ul li.active a {
  color: #0f5fff;
}
/* line 215, ../sass/screen.scss */
.left-menu > ul ul .st-a {
  width: 12px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 6px 4px;
  margin-left: 3px;
  position: relative;
  height: 10px;
  width: 12px;
  margin: 0 0 0 -2px;
  padding-left: 0;
  padding-right: 0;
}
/* line 29, ../sass/_base.scss */
.left-menu > ul ul .st-a:before {
  content: "";
  display: block;
  background: url('../img/icons-s2b742e91d5.png') no-repeat;
  background-position: 0 0;
  height: 10px;
  width: 12px;
  position: absolute;
  left: 6px;
  top: 6px;
  overflow: hidden;
}
/* line 221, ../sass/screen.scss */
.left-menu > ul ul .st-a:before {
  background-position: 0 -57px;
  left: 0;
  top: 5px;
}
/* line 227, ../sass/screen.scss */
.left-menu > ul ul a {
  color: #5e6971;
}
/* line 229, ../sass/screen.scss */
.left-menu > ul ul a.st-g {
  width: 12px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 6px 4px;
  margin-left: 3px;
  position: relative;
  background-color: #f2f2f2;
  cursor: pointer;
}
/* line 29, ../sass/_base.scss */
.left-menu > ul ul a.st-g:before {
  content: "";
  display: block;
  background: url('../img/icons-s2b742e91d5.png') no-repeat;
  background-position: 0 0;
  height: 10px;
  width: 12px;
  position: absolute;
  left: 6px;
  top: 6px;
  overflow: hidden;
}
/* line 234, ../sass/screen.scss */
.left-menu > ul ul a.st-g.active:before {
  background-position: 0 -57px;
}

/* line 244, ../sass/screen.scss */
.catalog {
  letter-spacing: -0.3em;
  word-spacing: -0.3em;
}
/* line 247, ../sass/screen.scss */
.catalog > * {
  letter-spacing: normal;
  word-spacing: normal;
}
/* line 251, ../sass/screen.scss */
.catalog .catalog-item {
  width: 275px;
  display: inline-block;
  height: 109px;
}
/* line 256, ../sass/screen.scss */
.catalog .catalog-item:first-child:before {
  height: 108px;
}
/* line 261, ../sass/screen.scss */
.catalog.two-col {
  width: 550px;
}
/* line 263, ../sass/screen.scss */
.catalog.two-col .catalog-item:nth-child(2) {
  border-top: 1px solid #eff0f1;
}
/* line 265, ../sass/screen.scss */
.catalog.two-col .catalog-item:nth-child(2):after {
  width: 277px;
}
/* line 268, ../sass/screen.scss */
.catalog.two-col .catalog-item:nth-child(2):before {
  height: 108px;
}
/* line 272, ../sass/screen.scss */
.catalog.two-col .catalog-item.second {
  border-top: 1px solid #eff0f1;
}
/* line 274, ../sass/screen.scss */
.catalog.two-col .catalog-item.second:after {
  width: 277px;
}
/* line 277, ../sass/screen.scss */
.catalog.two-col .catalog-item.second:before {
  height: 108px;
}
/* line 281, ../sass/screen.scss */
.catalog.two-col .catalog-item:nth-child(2n) {
  border-left: none;
}
/* line 283, ../sass/screen.scss */
.catalog.two-col .catalog-item:nth-child(2n):after {
  width: 277px;
}
/* line 287, ../sass/screen.scss */
.catalog.two-col .catalog-item.even {
  border-left: none;
}
/* line 289, ../sass/screen.scss */
.catalog.two-col .catalog-item.even:after {
  width: 277px;
}
/* line 294, ../sass/screen.scss */
.catalog > h3 {
  margin-bottom: 17px;
  padding-top: 1px;
}

/* line 299, ../sass/screen.scss */
.icon-h {
  background: url('../img/icons-s2b742e91d5.png');
  background-position: 0 -105px;
  height: 17px;
  width: 18px;
  position: absolute;
  top: 0px;
  left: 1px;
  z-index: 2;
}

/* line 308, ../sass/screen.scss */
.catalog-item {
  letter-spacing: normal;
  word-spacing: normal;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #eff0f1;
  border-left: 1px solid #eff0f1;
  border-bottom: 1px solid #eff0f1;
  vertical-align: top;
  padding: 8px 7px 10px 9px;
  position: relative;
}
/* line 7, ../sass/_base.scss */
.catalog-item:after {
  content: "";
  display: block;
  clear: both;
}
/* line 320, ../sass/screen.scss */
.catalog-item:first-child {
  border-top: 1px solid #eff0f1;
}
/* line 323, ../sass/screen.scss */
.catalog-item.brown {
  background-color: #fffbed;
}
/* line 325, ../sass/screen.scss */
.catalog-item.brown .icon-h {
  background-position: -16px -123px;
}
/* line 327, ../sass/screen.scss */
.catalog-item.brown .icon-h.active {
  background-position: 0 -141px;
}
/* line 332, ../sass/screen.scss */
.catalog-item.active {
  border-width: 2px;
  border-color: #ff681e;
}
/* line 335, ../sass/screen.scss */
.catalog-item.active:before {
  content: "";
  display: block;
  height: 110px;
  width: 2px;
  background: #ff681e;
  position: absolute;
  top: -1px;
  left: -2px;
}
/* line 345, ../sass/screen.scss */
.catalog-item.active:after {
  content: "";
  display: block;
  background: #ff681e;
  height: 2px;
  width: 275px;
  position: absolute;
  left: -2px;
  top: -2px;
}
/* line 356, ../sass/screen.scss */
.catalog-item h3 {
  font-size: 1.071em;
  line-height: 1;
  padding-top: 5px;
}
/* line 360, ../sass/screen.scss */
.catalog-item h3 a {
  text-decoration: none;
}
/* line 364, ../sass/screen.scss */
.catalog-item .type {
  font-size: 0.786em;
  line-height: 1.273;
  margin-bottom: 5px;
}
/* line 369, ../sass/screen.scss */
.catalog-item .sale {
  position: absolute;
  right: 0;
  top: -7px;
  font-size: 1.786em;
  color: #ffaa00;
  font-weight: 900;
  font-family: "Arial Black", Gadget, sans-serif;
}
/* line 378, ../sass/screen.scss */
.catalog-item .action {
  color: #f54a3d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  letter-spacing: 0.06em;
}
/* line 389, ../sass/screen.scss */
.catalog-item .icon-h.active {
  background-position: -18px -105px;
}
/* line 392, ../sass/screen.scss */
.catalog-item .c-i-icon {
  height: 90px;
  width: 90px;
  line-height: 90px;
  margin-right: 10px;
}
/* line 398, ../sass/screen.scss */
.catalog-item .address {
  position: absolute;
  left: 109px;
  bottom: 14px;
  padding-left: 14px;
}
/* line 403, ../sass/screen.scss */
.catalog-item .address:before {
  content: "";
  display: block;
  background: url('../img/icons-s2b742e91d5.png');
  background-position: -20px -16px;
  height: 12px;
  width: 9px;
  position: absolute;
  left: 0;
  top: 1px;
}

/* line 416, ../sass/screen.scss */
.type {
  color: #5e6971;
  display: block;
}

/* line 421, ../sass/screen.scss */
.c-i-icon {
  position: relative;
  text-align: center;
  float: left;
  overflow: hidden;
}
/* line 426, ../sass/screen.scss */
.c-i-icon img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

@media all and (-webkit-min-device-pixel-ratio: 0) {
  /* line 434, ../sass/screen.scss */
  .catalog {
    letter-spacing: -0.17em;
    word-spacing: -0.17em;
  }
}
/* line 440, ../sass/screen.scss */
.right-part {
  overflow: hidden;
}

/* line 444, ../sass/screen.scss */
.product-rate-wrapper {
  position: relative;
  margin-bottom: 6px;
}
/* line 7, ../sass/_base.scss */
.product-rate-wrapper:after {
  content: "";
  display: block;
  clear: both;
}
/* line 448, ../sass/screen.scss */
.product-rate-wrapper .product-rate {
  position: relative;
  background: url(../img/star-gr.png) no-repeat 0 0;
  height: 12px;
  width: 68px;
}
/* line 452, ../sass/screen.scss */
.product-rate-wrapper .product-rate > div {
  background: url(../img/star-or.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}
/* line 460, ../sass/screen.scss */
.product-rate-wrapper .product-rate.big {
  background-image: url(../img/starbig-gr.png);
  height: 24px;
  width: 136px;
}
/* line 463, ../sass/screen.scss */
.product-rate-wrapper .product-rate.big > div {
  background-image: url(../img/starbig-or.png);
}

/* line 470, ../sass/screen.scss */
.address {
  color: #5e6971;
  font-size: 0.786em;
  line-height: 1.273;
  display: block;
}
/* line 475, ../sass/screen.scss */
.address span {
  font-style: italic;
  display: block;
  font-size: 1em;
  color: #99aab7 l;
}

/* line 483, ../sass/screen.scss */
.status-close {
  display: block;
  position: absolute;
  right: -1px;
  top: -1px;
  background: #99aab7;
  color: #fff;
  height: 14px;
  line-height: 14px;
  padding: 0 4px;
  z-index: 2;
  font-size: 0.786em;
  font-weight: bold;
}

/* line 500, ../sass/screen.scss */
.right-block {
  float: right;
  width: 240px;
}
/* line 503, ../sass/screen.scss */
.right-block > div {
  margin-bottom: 20px;
}
/* line 506, ../sass/screen.scss */
.right-block .catalog-item {
  border: 1px solid #eff0f1;
  margin: 0;
}
/* line 509, ../sass/screen.scss */
.right-block .catalog-item .c-i-icon {
  height: 48px;
  width: 48px;
  line-height: 48px;
}
/* line 514, ../sass/screen.scss */
.right-block .catalog-item h3 {
  margin-top: -5px;
}
/* line 517, ../sass/screen.scss */
.right-block .catalog-item .contacts-item {
  float: right;
  margin: -3px 0 0 21px;
}
/* line 522, ../sass/screen.scss */
.right-block .type {
  margin-bottom: 1px;
}
/* line 525, ../sass/screen.scss */
.right-block .address {
  position: static;
  margin-left: 58px;
  line-height: 1.091;
  padding: 0;
  overflow: hidden;
}
/* line 531, ../sass/screen.scss */
.right-block .address:before {
  display: none;
}
/* line 535, ../sass/screen.scss */
.right-block .action-block {
  padding: 11px 10px 14px 9px;
  border-width: 0 1px 1px;
  border-color: transparent #eff0f1 #eff0f1;
}
/* line 539, ../sass/screen.scss */
.right-block .action-block p {
  font-size: 0.857em;
  line-height: 1.417;
}
/* line 544, ../sass/screen.scss */
.right-block > h3 {
  margin-bottom: 17px;
  padding-left: 4px;
}

/* line 550, ../sass/screen.scss */
.map {
  text-align: center;
  position: relative;
}
/* line 553, ../sass/screen.scss */
.map .catalog-item {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 275px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background: #fff;
  text-align: left;
}
/* line 560, ../sass/screen.scss */
.map .catalog-item:after {
  content: "";
  display: block;
  background: url('../img/icons-s2b742e91d5.png') no-repeat;
  background-position: 0 -89px;
  height: 9px;
  width: 20px;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -9px;
  overflow: hidden;
}
/* line 573, ../sass/screen.scss */
.map > a {
  font-size: 0.929em;
  font-style: italic;
  color: #99aab7;
  text-decoration: none;
  border-bottom: 1px dashed #99aab7;
  display: inline-block;
  padding-top: 4px;
}
/* line 583, ../sass/screen.scss */
.map > a:hover {
  border-color: transparent;
}

/* line 589, ../sass/screen.scss */
.download-app {
  border: 2px solid #0f5fff;
  padding: 16px 0 16px 66px;
}
/* line 592, ../sass/screen.scss */
.download-app a {
  color: #0f5fff;
  font-size: 1.071em;
  line-height: 1.133;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
/* line 599, ../sass/screen.scss */
.download-app a:before {
  content: "";
  display: block;
  background-image: url('../img/icons-s2b742e91d5.png');
  background-position: -18px -141px;
  height: 46px;
  width: 23px;
  position: absolute;
  top: -6px;
  left: -37px;
}

/* line 612, ../sass/screen.scss */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 71px;
  border-top: 1px solid #eff0f1;
  padding: 23px 40px 0;
}
/* line 7, ../sass/_base.scss */
#footer:after {
  content: "";
  display: block;
  clear: both;
}
/* line 622, ../sass/screen.scss */
#footer .left {
  float: left;
}
/* line 624, ../sass/screen.scss */
#footer .left p {
  font-size: 0.786em;
  line-height: 1;
  color: #5e6971;
  float: left;
  padding-top: 5px;
}
/* line 632, ../sass/screen.scss */
#footer .footer-menu {
  float: right;
  padding-top: 3px;
}
/* line 635, ../sass/screen.scss */
#footer .footer-menu a {
  float: left;
  color: #5e6971;
  font-size: 0.929em;
  line-height: 1;
  margin-left: 34px;
}
/* line 641, ../sass/screen.scss */
#footer .footer-menu a:first-child {
  margin-left: 0;
}

/* line 648, ../sass/screen.scss */
.footer-logo {
  height: 25px;
  width: 105px;
  background: url(../img/logo-footer.png) no-repeat 0 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  float: left;
  margin-right: 25px;
}

/* line 657, ../sass/screen.scss */
.filter-form {
  padding: 27px 30px 0;
  background: #f7f7f7;
  text-align: center;
  margin-bottom: 20px;
}
/* line 662, ../sass/screen.scss */
.filter-form .item-form {
  width: 165px;
  float: left;
  margin: 0 30px 30px 0;
  position: relative;
  text-align: left;
}
/* line 668, ../sass/screen.scss */
.filter-form .item-form:nth-child(4n) {
  margin-right: 0;
}
/* line 7, ../sass/_base.scss */
.filter-form .item-form:after {
  content: "";
  display: block;
  clear: both;
}
/* line 672, ../sass/screen.scss */
.filter-form .item-form > label {
  color: #000000;
  font-size: 0.929em;
  line-height: 1;
  margin-bottom: 8px;
  display: block;
}

/* line 682, ../sass/screen.scss */
.ui-multiselect {
  background: #fff;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #99aab7;
  height: 30px;
  padding: 0 20px 4px 6px;
  border-radius: 0;
  text-align: left;
  max-width: 165px;
  position: relative;
  font-family: inherit;
  font-size: 0.929em;
}
/* line 695, ../sass/screen.scss */
.ui-multiselect span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.929em;
  color: #5e6971;
  position: relative;
  padding-right: 20px;
  z-index: 1;
}
/* line 706, ../sass/screen.scss */
.ui-multiselect .ui-icon {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  top: 0;
  z-index: 0;
}
/* line 716, ../sass/screen.scss */
.ui-multiselect .ui-icon + span {
  overflow: hidden;
  max-width: 196px;
}
/* line 720, ../sass/screen.scss */
.ui-multiselect .ui-icon:after {
  content: "";
  display: block;
  background: url('../img/icons-s2b742e91d5.png') no-repeat;
  background-position: -10px -16px;
  height: 5px;
  width: 10px;
  position: absolute;
  right: 8px;
  top: 11px;
}
/* line 731, ../sass/screen.scss */
.ui-multiselect.ui-state-active {
  border-bottom: 0;
  padding-bottom: 5px;
}
/* line 734, ../sass/screen.scss */
.ui-multiselect.ui-state-active .ui-icon:after {
  background-position: 0 -16px;
}

/* line 740, ../sass/screen.scss */
.ui-multiselect-menu {
  position: absolute;
  display: none;
  z-index: 999;
  max-width: 165px;
  max-height: 100px;
  overflow: hidden;
  border-width: 0 1px 1px;
  border-color: #99aab7;
  border-style: solid;
  background: #fff;
}
/* line 752, ../sass/screen.scss */
.ui-multiselect-menu ul {
  height: auto !important;
}
/* line 756, ../sass/screen.scss */
.ui-multiselect-menu input[type="checkbox"] {
  opacity: 0;
  filter: alpha(opacity=0);
  float: left;
}
/* line 7, ../sass/_base.scss */
.ui-multiselect-menu li:after {
  content: "";
  display: block;
  clear: both;
}
/* line 763, ../sass/screen.scss */
.ui-multiselect-menu li span {
  display: inline-block;
  color: #5e6971;
  font-size: 0.929em;
  position: relative;
  line-height: 1;
  padding: 5px 0 6px 5px;
  max-width: 80%;
}
/* line 771, ../sass/screen.scss */
.ui-multiselect-menu li span:before {
  content: "";
  display: block;
  background: url('../img/icons-s2b742e91d5.png') no-repeat;
  background-position: -12px -57px;
  height: 14px;
  width: 14px;
  position: absolute;
  left: -14px;
  top: 5px;
}
/* line 783, ../sass/screen.scss */
.ui-multiselect-menu li input[aria-selected="true"] + span {
  color: #0f5fff;
}
/* line 785, ../sass/screen.scss */
.ui-multiselect-menu li input[aria-selected="true"] + span:before {
  background-position: -24px -28px;
}

/* line 793, ../sass/screen.scss */
.jspContainer {
  outline: medium none;
  overflow: hidden;
  position: relative;
  width: 100% !important;
}

/* line 799, ../sass/screen.scss */
.jspPane {
  outline: medium none;
  position: absolute;
}

/* line 803, ../sass/screen.scss */
.jspVerticalBar {
  height: 100%;
  position: absolute;
  right: 9px;
  top: 0;
  width: 7px;
  z-index: 100;
}

/* line 811, ../sass/screen.scss */
.jspHorizontalBar {
  background: none repeat scroll 0 0 #FF0000;
  bottom: 0;
  height: 16px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* line 819, ../sass/screen.scss */
.jspVerticalBar *, .jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

/* line 823, ../sass/screen.scss */
.jspCap {
  display: none;
}

/* line 826, ../sass/screen.scss */
.jspHorizontalBar .jspCap {
  float: left;
}

/* line 829, ../sass/screen.scss */
.jspTrack {
  background-color: #E5E5E5;
  position: relative;
}

/* line 833, ../sass/screen.scss */
.jspDrag {
  background-color: #333333;
  cursor: pointer;
  left: 0;
  position: relative;
  top: 0;
}

/* line 840, ../sass/screen.scss */
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

/* line 844, ../sass/screen.scss */
.jspArrow {
  cursor: pointer;
  display: block;
  text-indent: -20000px;
}

/* line 849, ../sass/screen.scss */
.jspArrow.jspDisabled {
  cursor: default;
}

/* line 852, ../sass/screen.scss */
.jspVerticalBar .jspArrow {
  display: block;
  height: 4px;
  position: relative;
  width: 0;
}

/* line 858, ../sass/screen.scss */
.jspVerticalBar .jspArrow.jspArrowDown {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #CCCCCC;
  top: 4px;
}

/* line 864, ../sass/screen.scss */
.jspVerticalBar .jspArrow.jspArrowUp {
  border-bottom: 4px solid #CCCCCC;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  top: -4px;
}

/* line 870, ../sass/screen.scss */
.jspVerticalBar .jspArrow:focus {
  outline: medium none;
}

/* line 873, ../sass/screen.scss */
.jspCorner {
  background: none repeat scroll 0 0 #EEEEF4;
  float: left;
  height: 100%;
}

/* line 879, ../sass/screen.scss */
.s-h {
  margin-top: -16px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  top: -16px;
  font-size: 0.929em;
  font-style: italic;
  color: #5e6971;
  border-bottom: 1px dashed #5e6971;
}
/* line 891, ../sass/screen.scss */
.s-h:hover {
  border-bottom-color: transparent;
}

/* line 898, ../sass/screen.scss */
.action-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #eff0f1 transparent transparent;
}
/* line 905, ../sass/screen.scss */
.action-block p {
  color: #5e6971;
}
/* line 908, ../sass/screen.scss */
.action-block b {
  color: #F54A3D;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.06em;
  line-height: 1;
  text-transform: uppercase;
}

/* line 919, ../sass/screen.scss */
.show-map .right-block {
  width: 515px;
}
/* line 922, ../sass/screen.scss */
.show-map .catalog {
  width: 275px;
}

/* line 927, ../sass/screen.scss */
.contacts-item {
  padding-left: 2px;
}
/* line 929, ../sass/screen.scss */
.contacts-item p {
  font-size: 0.786em;
  color: #5e6971;
  position: relative;
  padding-left: 16px;
  line-height: 1.819;
}
/* line 935, ../sass/screen.scss */
.contacts-item p:before {
  content: "";
  display: block;
  background-image: url('../img/icons-s2b742e91d5.png');
  height: 12px;
  width: 12px;
  position: absolute;
  left: 0;
  top: 4px;
}
/* line 944, ../sass/screen.scss */
.contacts-item p.phone:before {
  background-position: -12px -28px;
}
/* line 947, ../sass/screen.scss */
.contacts-item p.vel:before {
  background-position: 0 -28px;
}
/* line 950, ../sass/screen.scss */
.contacts-item p.mts:before {
  background-position: 0 -73px;
}
/* line 953, ../sass/screen.scss */
.contacts-item p.life:before {
  background-position: -6px -42px;
}
/* line 956, ../sass/screen.scss */
.contacts-item p.time:before {
  background-position: -12px -73px;
  height: 14px;
  width: 14px;
  left: -2px;
}
/* line 961, ../sass/screen.scss */
.contacts-item p.place:before {
  background-position: -18px -42px;
  height: 15px;
  width: 8px;
  left: -3px;
}

/* line 968, ../sass/screen.scss */
.pager {
  letter-spacing: normal;
  word-spacing: normal;
  padding: 11px 0 11px 2px;
}
/* line 7, ../sass/_base.scss */
.pager:after {
  content: "";
  display: block;
  clear: both;
}
/* line 973, ../sass/screen.scss */
.pager li {
  float: left;
  margin-left: 12px;
}
/* line 976, ../sass/screen.scss */
.pager li:first-child {
  margin-left: 0;
}
/* line 979, ../sass/screen.scss */
.pager li a {
  display: block;
  color: #99aab7;
  font-size: 1.071em;
  line-height: 2;
  text-decoration: none;
  font-weight: bold;
}
/* line 986, ../sass/screen.scss */
.pager li a:hover {
  color: #5e6971;
}
/* line 989, ../sass/screen.scss */
.pager li a.prev, .pager li a.next {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: url('../img/icons-s2b742e91d5.png') no-repeat;
  height: 10px;
  width: 6px;
  margin-top: 10px;
}
/* line 995, ../sass/screen.scss */
.pager li a.prev {
  background-position: 0 -42px;
  margin-right: 1px;
}
/* line 999, ../sass/screen.scss */
.pager li a.next {
  background-position: -12px 0;
}
/* line 1003, ../sass/screen.scss */
.pager li.active a {
  color: #ff681e;
}

/* line 1009, ../sass/screen.scss */
.full-item {
  position: relative;
  margin-top: -3px;
}
/* line 1012, ../sass/screen.scss */
.full-item .status-close {
  font-size: 1.071em;
  height: 22px;
  line-height: 22px;
  padding: 0 12px;
  right: 1px;
  top: 1px;
}
/* line 1020, ../sass/screen.scss */
.full-item .icon-h {
  left: 8px;
  top: 7px;
}
/* line 1024, ../sass/screen.scss */
.full-item .c-i-icon {
  margin: 0 20px 24px 0;
  width: 240px;
  height: 240px;
  line-height: 240px;
}
/* line 1030, ../sass/screen.scss */
.full-item h1 {
  margin-top: -3px;
}
/* line 1033, ../sass/screen.scss */
.full-item .type {
  font-size: 1.071em;
  line-height: 1.2;
  margin-bottom: 7px;
}
/* line 1038, ../sass/screen.scss */
.full-item .product-rate-wrapper {
  margin-bottom: 11px;
}
/* line 1041, ../sass/screen.scss */
.full-item .address {
  font-size: 1.071em;
  margin-bottom: 21px;
}
/* line 1044, ../sass/screen.scss */
.full-item .address span {
  font-size: 0.867em;
  line-height: 1.308;
}
/* line 1049, ../sass/screen.scss */
.full-item .contatcs {
  padding: 19px 0;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #eff0f1;
}
/* line 7, ../sass/_base.scss */
.full-item .contatcs:after {
  content: "";
  display: block;
  clear: both;
}
/* line 1057, ../sass/screen.scss */
.full-item .contatcs .contacts-item {
  float: left;
  margin-left: 49px;
}
/* line 1060, ../sass/screen.scss */
.full-item .contatcs .contacts-item:first-child {
  margin-left: 0;
}
/* line 1063, ../sass/screen.scss */
.full-item .contatcs .contacts-item p {
  font-size: 0.929em;
  line-height: 1.846;
  padding-left: 22px;
}
/* line 1067, ../sass/screen.scss */
.full-item .contatcs .contacts-item p a {
  color: inherit;
}
/* line 1070, ../sass/screen.scss */
.full-item .contatcs .contacts-item p:before {
  height: 16px;
  width: 16px;
}
/* line 1073, ../sass/screen.scss */
.full-item .contatcs .contacts-item p.phone:before {
  background-position: -26px -57px;
}
/* line 1076, ../sass/screen.scss */
.full-item .contatcs .contacts-item p.vel:before {
  background-position: -20px -89px;
}
/* line 1079, ../sass/screen.scss */
.full-item .contatcs .contacts-item p.mts:before {
  background-position: -26px -73px;
}
/* line 1082, ../sass/screen.scss */
.full-item .contatcs .contacts-item p.life:before {
  background-position: 0 -123px;
}
/* line 1085, ../sass/screen.scss */
.full-item .contatcs .contacts-item p.time:before {
  background-position: -18px 0;
  height: 16px;
  width: 16px;
  left: -2px;
}
/* line 1090, ../sass/screen.scss */
.full-item .contatcs .contacts-item p.place:before {
  background-position: -18px -42px;
  height: 15px;
  width: 8px;
  left: -3px;
}
/* line 1098, ../sass/screen.scss */
.full-item .action-block {
  padding-top: 20px;
  font-size: 1.071em;
  margin-bottom: 28px;
}
/* line 1103, ../sass/screen.scss */
.full-item .map {
  margin-bottom: 33px;
}

/* line 1108, ../sass/screen.scss */
.options {
  clear: both;
  border-top: 1px solid #eff0f1;
  padding: 25px 0 2px;
}
/* line 1112, ../sass/screen.scss */
.options > div {
  display: table-row;
}
/* line 1115, ../sass/screen.scss */
.options p {
  display: table-cell;
  padding-bottom: 10px;
  vertical-align: top;
  font-size: 0.929em;
  line-height: 1.077;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 25px;
  font-weight: bold;
  width: 200px;
}
/* line 1126, ../sass/screen.scss */
.options p span {
  color: #5e6971;
  font-weight: normal;
}

/* line 1133, ../sass/screen.scss */
.list-reviews {
  text-align: center;
  margin-bottom: 51px;
}
/* line 1136, ../sass/screen.scss */
.list-reviews h3 {
  text-align: left;
  margin-bottom: 22px;
}
/* line 1139, ../sass/screen.scss */
.list-reviews h3 + article {
  border: none;
  padding-top: 0;
}
/* line 1144, ../sass/screen.scss */
.list-reviews article {
  text-align: left;
  border-top: 1px solid #eff0f1;
  padding-top: 28px;
  margin-bottom: 25px;
}
/* line 1149, ../sass/screen.scss */
.list-reviews article .customer {
  color: #5e6971;
  font-size: 0.929em;
  font-style: italic;
  line-height: 1;
  display: block;
  margin-bottom: 10px;
}
/* line 1160, ../sass/screen.scss */
.list-reviews .product-rate-wrapper {
  margin-bottom: 7px;
}
/* line 1163, ../sass/screen.scss */
.list-reviews .s-h {
  font-size: 1.286em;
  top: 0;
  margin-top: 8px;
}

/* line 1171, ../sass/screen.scss */
article p {
  font-size: 1.071em;
  line-height: 1.6;
  margin-bottom: 12px;
}
/* line 1175, ../sass/screen.scss */
article p + h3, article p + h2 {
  margin-top: 27px;
}
/* line 1179, ../sass/screen.scss */
article img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
}
/* line 1183, ../sass/screen.scss */
article img + h3 {
  margin-top: 26px;
  overflow: hidden;
}
/* line 1188, ../sass/screen.scss */
article h3, article h2 {
  margin-bottom: 16px;
}
/* line 1191, ../sass/screen.scss */
article ul {
  margin-bottom: 12px;
}
/* line 1193, ../sass/screen.scss */
article ul li {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 1.071em;
  line-height: 1.6;
  margin-top: 12px;
}
/* line 1199, ../sass/screen.scss */
article ul li:first-child {
  margin-top: 0;
}
/* line 1205, ../sass/screen.scss */
article ol li {
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 1.071em;
  line-height: 1.6;
  margin-top: 12px;
}
/* line 1211, ../sass/screen.scss */
article ol li:first-child {
  margin-top: 0;
}

/* line 1219, ../sass/screen.scss */
form .item-form {
  margin-top: 21px;
}
/* line 1221, ../sass/screen.scss */
form .item-form:first-child {
  margin-top: 0;
}
/* line 1225, ../sass/screen.scss */
form .item-form.error input[type="text"], form .item-form.error input[type="email"], form .item-form.error textarea {
  border-color: #ff0000;
  color: #ff0000;
}
/* line 1231, ../sass/screen.scss */
form label {
  font-size: 0.929em;
  line-height: 1;
  color: #000;
  margin-bottom: 6px;
  display: block;
}
/* line 1238, ../sass/screen.scss */
form input[type="text"], form input[type="email"] {
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 9px;
  font-size: 0.929em;
  line-height: 2.154;
  font-family: inherit;
  color: #000;
  border: 1px solid #99aab7;
  width: 100%;
}
/* line 1249, ../sass/screen.scss */
form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 0 0 9px;
  font-size: 0.929em;
  line-height: 1.231;
  font-family: inherit;
  color: #000;
  border: 1px solid #99aab7;
  resize: none;
  overflow-x: hidden;
  width: 100%;
}
/* line 1261, ../sass/screen.scss */
form .bottom {
  padding-top: 19px;
}
/* line 7, ../sass/_base.scss */
form .bottom:after {
  content: "";
  display: block;
  clear: both;
}
/* line 1264, ../sass/screen.scss */
form .bottom p {
  font-size: 0.929em;
  line-height: 1;
  margin-bottom: 9px;
}
/* line 1269, ../sass/screen.scss */
form .bottom input[type="submit"] {
  float: right;
  margin-top: 7px;
}
/* line 1273, ../sass/screen.scss */
form .bottom .left {
  float: left;
  width: auto;
  max-width: 65%;
}
/* line 1278, ../sass/screen.scss */
form .bottom .product-rate-wrapper {
  margin-bottom: 0;
}
/* line 1282, ../sass/screen.scss */
form input[type="submit"] {
  border: none;
  color: #fff;
  height: 40px;
  padding: 0 40px 2px;
  font-size: 1.071em;
  font-weight: bold;
  text-transform: uppercase;
  background: #5e6971;
  cursor: pointer;
}

/* line 1298, ../sass/screen.scss */
.no-boxshadow input[type="text"], .no-boxshadow input[type="email"] {
  line-height: 2;
}

/* line 1304, ../sass/screen.scss */
.form-review h3 {
  margin-bottom: 12px;
}
/* line 1307, ../sass/screen.scss */
.form-review form {
  background: #f7f7f7;
  padding: 26px 31px 28px;
}
/* line 1311, ../sass/screen.scss */
.form-review input[type="text"] {
  width: 240px;
}
/* line 1314, ../sass/screen.scss */
.form-review textarea {
  min-height: 170px;
}

/* line 1319, ../sass/screen.scss */
.list-category {
  padding-left: 4px;
}
/* line 1321, ../sass/screen.scss */
.list-category li {
  padding-left: 23px;
  margin-top: 22px;
  position: relative;
}
/* line 1325, ../sass/screen.scss */
.list-category li:before {
  content: "";
  display: block;
  background: url('../img/icons-s2b742e91d5.png') no-repeat;
  background-position: -26px -42px;
  height: 11px;
  width: 14px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 3px;
}
/* line 1336, ../sass/screen.scss */
.list-category li:first-child {
  margin-top: 0;
}
/* line 1340, ../sass/screen.scss */
.list-category a {
  font-size: 0.929em;
  line-height: 1;
  position: relative;
  display: inline-block;
}

/* line 1348, ../sass/screen.scss */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=50);
  background: rgba(0, 0, 0, 0.5);
}

/* line 1359, ../sass/screen.scss */
.popup-wrapper {
  width: 666px;
  margin-left: -333px;
  position: fixed;
  top: 15%;
  left: 50%;
  background: #f7f7f7;
  padding: 24px 30px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 7, ../sass/_base.scss */
.popup-wrapper:after {
  content: "";
  display: block;
  clear: both;
}
/* line 1369, ../sass/screen.scss */
.popup-wrapper .left {
  float: left;
  width: 242px;
}
/* line 1373, ../sass/screen.scss */
.popup-wrapper .right {
  float: right;
  width: 336px;
}
/* line 1377, ../sass/screen.scss */
.popup-wrapper h3 {
  margin-bottom: 24px;
}
/* line 1381, ../sass/screen.scss */
.popup-wrapper .left p {
  font-style: italic;
  color: #5e6971;
  font-size: 0.929em;
  line-height: 1.385;
  padding-top: 7px;
  margin: 0;
}
/* line 1388, ../sass/screen.scss */
.popup-wrapper .left p.error-text {
  color: #ff0000;
  padding-top: 14px;
}
/* line 1394, ../sass/screen.scss */
.popup-wrapper textarea {
  min-height: 100px;
}
/* line 1397, ../sass/screen.scss */
.popup-wrapper.small {
  width: 389px;
  margin-left: -194px;
}
/* line 1400, ../sass/screen.scss */
.popup-wrapper.small strong {
  font-size: 1.214em;
  line-height: 1.412;
  text-align: center;
  display: block;
  padding: 38px 20px;
}

/* line 1410, ../sass/screen.scss */
.close {
  position: absolute;
  top: 28px;
  right: 30px;
  height: 11px;
  width: 11px;
  background: url('../img/icons-s2b742e91d5.png') no-repeat;
  background-position: -29px -16px;
  overflow: hidden;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

/* line 1424, ../sass/screen.scss */
.title-search-result {
  width: 602px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  position: absolute;
}
/* line 1430, ../sass/screen.scss */
.title-search-result table {
  width: 100%;
}
/* line 1433, ../sass/screen.scss */
.title-search-result table tr:first-child td {
  border: none;
}
/* line 1437, ../sass/screen.scss */
.title-search-result table td {
  border-top: 1px solid #eff0f1;
  padding: 15px;
}
/* line 1441, ../sass/screen.scss */
.title-search-result table a {
  font-size: 0.929em;
  text-decoration: none;
}
/* line 1445, ../sass/screen.scss */
.title-search-result table span {
  display: block;
  color: #5e6971;
  font-size: 0.786em;
  line-height: 1.273;
}
